.colorSelector_list {
	-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
height:36px;
position:relative;
width:36px;
}

.colorSelector_list div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
}

#colorSelectoronly {
	position: relative;
	width: 36px;
	height: 36px;
}

#colorSelectoronly div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
}
