/* Common */
.top-buffer {
    margin-top: 5px;
}

#background-container {
   clear: both;
   vertical-align: middle;
}

#background {

}

/* Product */
.product-thumbnail {
    max-width: 100px;
    max-height: 100px;
}

.total, .total p {
    text-align: center;
}

/* Frames */
.frame-container {
    float: left;
    min-height: 75px;
}

img.frame-thumbnail {
    max-height: 50px;
    max-width: 50px;
}

.frame-thumbnail-container {
    float: left;
    padding-right: 10px;
}

.frame-selection {
    float: left;
    width: 10px;
    margin: 10px 11px 0px 0px;
}

.frame-detail {
    float: left;
    border-left: none;
    margin-right: 25px;
}

/* Accessories */
a img.accessory-thumbnail {
    max-height: 50px;
    max-width: 50px;
}

.accessory-thumbnail-container {
    padding-right: 10px;
}

.accessory-selection {
    vertical-align: middle;
    border-right: medium none;
    width: 10px;
}

.accessory-detail {
    border-left: medium none;
}

.accessorytype-thumbnail {
    max-width: 64px;
    max-height: 64px;
}

.customize-it-btn {
    margin-top: 15px;
    margin-bottom: 15px;
}