/* Common */
.top-buffer {
    margin-top:5px;
}

/* Accessories */

a img.accessory-image {
    height:50px;
}

.accessory-image-container {
    padding-right: 10px;
}

.accessory-selection {
    border-right: none;
    vertical-align: middle;
    width:10px;
}

.accessory-detail {
    border-left:none;
}

.accessory-type-thumb {
    width: 64px;
    height: 64px;
}

