[submodule ".travis/phpcs/Joomla"]
	path = .travis/phpcs/Joomla
	url = https://github.com/joomla/coding-standards
[submodule "redCORE"]
	path = redCORE
	url = https://github.com/redCOMPONENT-COM/redCORE
