.character-group {
    float: left;
    margin-left: 21px;
}

.icon-48-reddesign {
    background-image: url(../images/reddesign_48.png);
}

.icon-48-designtypes {
    background-image: url(../images/reddesign_48.png);
}

.icon-48-designtype {
    background-image: url(../images/reddesign_48.png);
}

.icon-48-fonts {
    background-image: url(../images/reddesign_fonts_48.png);
}

.icon-48-font {
    background-image: url(../images/reddesign_fonts_48.png);
}

.icon-48-orders{
    background-image: url(../images/reddesign_orders_48.png);
}

.addColorButton {
	margin: 15px 0 10px 0;
}

.colorDiv {
	width: 50px;
	height: 50px;
	float: left;
	margin: 5px;
	cursor: pointer;
}

.td-align-center {
	text-align: center !important;
}

.td-align-left {
	text-align: left !important;
}

.th-width-9 {
	width: 9%;
	text-align: center !important;
}

.th-width-40 {
	width: 40%;
	text-align: center !important;
}

.progressbar-table {
    width: 100px;
    float: left;
    margin-left: 10px;
}

.progressbar-holder .bar-success {
    width: 0%;
    text-align: center;
}

.redcore .progressbar-table .progress{
    margin-bottom: 0px;
}

.redcore div.font-list-preview {
    font-size:20px;
    margin:0px;
}
.thumbnailSVG-pointer {
    position: absolute;
    top: 0px;
    left:0px;
}
.clipart-container {
    position: relative;
}
