<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset
			name="eps"
			label="COM_REDDESIGN_CONFIG_EPS_CONFIGURATION"
			description="COM_REDDESIGN_CONFIG_EPS_CONFIGURATION_DESC"
			>

		<field
				name="currency_symbol"
				type="text"
				size="5"
				default="$"
				label="COM_REDDESIGN_CONFIG_CURRENCY_SYMBOL"
				description="COM_REDDESIGN_CONFIG_CURRENCY_SYMBOL_DESC"
				/>

		<field
				name="currency_symbol_position_before"
				type="list"
				label="COM_REDDESIGN_CONFIG_CURRENCY_SYMBOL_POSITION"
				description="COM_REDDESIGN_CONFIG_CURRENCY_SYMBOL_POSITION_DESC"
				default="0"
				class="inputbox">
			<option value="1">
                COM_REDDESIGN_CONFIG_CURRENCY_SYMBOL_POSITION_VALUE_1
            </option>
			<option value="0">
                COM_REDDESIGN_CONFIG_CURRENCY_SYMBOL_POSITION_VALUE_2
            </option>
		</field>

		<field
				name="currency_decimal_separator"
				type="list"
				label="COM_REDDESIGN_CONFIG_CURRENCY_DECIMAL_SEPARATOR"
				description="COM_REDDESIGN_CONFIG_CURRENCY_DECIMAL_SEPARATOR_DESC"
				default="0"
				class="inputbox">
			<option
					value=".">COM_REDDESIGN_CONFIG_CURRENCY_DECIMAL_SEPARATOR_VALUE_1</option>
			<option
					value=",">COM_REDDESIGN_CONFIG_CURRENCY_DECIMAL_SEPARATOR_VALUE_2</option>
		</field>

		<field
				name="currency_thousand_separator"
				type="list"
				label="COM_REDDESIGN_CONFIG_CURRENCY_THOUSAND_SEPARATOR"
				description="COM_REDDESIGN_CONFIG_CURRENCY_THOUSAND_SEPARATOR_DESC"
				default="0"
				class="inputbox">
			<option
					value=".">COM_REDDESIGN_CONFIG_CURRENCY_THOUSAND_SEPARATOR_VALUE_1</option>
			<option
					value=",">COM_REDDESIGN_CONFIG_CURRENCY_THOUSAND_SEPARATOR_VALUE_2</option>
			<option
					value=" ">COM_REDDESIGN_CONFIG_CURRENCY_THOUSAND_SEPARATOR_VALUE_3</option>
		</field>

		<field
				name="decimals"
				type="text"
				size="5"
				default="2"
				label="COM_REDDESIGN_CONFIG_DECIMALS"
				description="COM_REDDESIGN_CONFIG_DECIMALS_DESC"
				/>

		<field
				name="max_eps_file_size"
				type="text"
				size="5"
				default="2"
				label="COM_REDDESIGN_CONFIG_MAX_EPS_FILE_SIZE"
				description="COM_REDDESIGN_CONFIG_MAX_EPS_FILE_SIZE_DESC"
				/>

		<field
				name="eps_bestfit"
				type="radio"
				default="1"
				label="COM_REDDESIGN_CONFIG_EPS_BESTFIT"
				description="COM_REDDESIGN_CONFIG_EPS_BESTFIT_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
				name="max_eps_thumbnail_width"
				type="text"
				size="5"
				default="600"
				label="COM_REDDESIGN_CONFIG_MAX_EPS_THUMBNAIL_WIDTH"
				description="COM_REDDESIGN_CONFIG_MAX_EPS_THUMBNAIL_WIDTH_DESC"
				/>

		<field
				name="max_eps_thumbnail_height"
				type="text"
				size="5"
				default="400"
				label="COM_REDDESIGN_CONFIG_MAX_EPS_THUMBNAIL_HEIGHT"
				description="COM_REDDESIGN_CONFIG_MAX_EPS_THUMBNAIL_HEIGHT_DESC"
				/>

		<field
				name="max_designtype_images_size"
				type="text"
				size="5"
				default="2"
				label="COM_REDDESIGN_CONFIG_MAX_DESIGNTYPE_IMAGE_FILE_SIZE"
				description="COM_REDDESIGN_CONFIG_MAX_DESIGNTYPE_IMAGE_FILE_SIZE_DESC"
				/>

		<field
				name="max_designtype_thumbnail_width"
				type="text"
				size="5"
				default="100"
				label="COM_REDDESIGN_CONFIG_MAX_DESIGNTYPE_THUMBNAIL_WIDTH"
				description="COM_REDDESIGN_CONFIG_MAX_DESIGNTYPE_THUMBNAIL_WIDTH_DESC"
				/>

		<field
				name="max_designtype_thumbnail_height"
				type="text"
				size="5"
				default="100"
				label="COM_REDDESIGN_CONFIG_MAX_DESIGNTYPE_THUMBNAIL_HEIGHT"
				description="COM_REDDESIGN_CONFIG_MAX_DESIGNTYPE_THUMBNAIL_HEIGHT_DESC"
				/>

		<field
				name="max_background_thumbnail_width"
				type="text"
				size="5"
				default="50"
				label="COM_REDDESIGN_CONFIG_MAX_BACKGROUND_THUMBNAIL_WIDTH"
				description="COM_REDDESIGN_CONFIG_MAX_BACKGROUND_THUMBNAIL_WIDTH_DESC"
				/>

		<field
				name="max_background_thumbnail_height"
				type="text"
				size="5"
				default="50"
				label="COM_REDDESIGN_CONFIG_MAX_BACKGROUND_THUMBNAIL_HEIGHT"
				description="COM_REDDESIGN_CONFIG_MAX_BACKGROUND_THUMBNAIL_HEIGHT_DESC"
				/>

	</fieldset>

	<fieldset
			name="accessories"
			label="COM_REDDESIGN_CONFIG_ACCESSORIES_CONFIGURATION"
			description="COM_REDDESIGN_CONFIG_ACCESSORIES_CONFIGURATION_DESC"
			>

		<field
				name="max_accessorytype_image_size"
				type="text"
				size="5"
				default="2"
				label="COM_REDDESIGN_CONFIG_MAX_ACCESSORYTYPE_IMAGE_FILE_SIZE"
				description="COM_REDDESIGN_CONFIG_MAX_ACCESSORYTYPE_IMAGE_FILE_SIZE_DESC"
				/>

		<field
				name="max_accessorytype_thumbnail_width"
				type="text"
				size="5"
				default="64"
				label="COM_REDDESIGN_CONFIG_MAX_ACCESSORYTYPE_THUMBNAIL_WIDTH"
				description="COM_REDDESIGN_CONFIG_MAX_ACCESSORYTYPE_THUMBNAIL_WIDTH_DESC"
				/>

		<field
				name="max_accessorytype_thumbnail_height"
				type="text"
				size="5"
				default="64"
				label="COM_REDDESIGN_CONFIG_MAX_ACCESSORYTYPE_THUMBNAIL_HEIGHT"
				description="COM_REDDESIGN_CONFIG_MAX_ACCESSORYTYPE_THUMBNAIL_HEIGHT_DESC"
				/>

		<field
				name="max_accessory_image_size"
				type="text"
				size="5"
				default="2"
				label="COM_REDDESIGN_CONFIG_MAX_ACCESSORY_IMAGE_FILE_SIZE"
				description="COM_REDDESIGN_CONFIG_MAX_ACCESSORY_IMAGE_FILE_SIZE_DESC"
				/>

		<field
				name="max_accessory_thumbnail_width"
				type="text"
				size="5"
				default="50"
				label="COM_REDDESIGN_CONFIG_MAX_ACCESSORY_THUMBNAIL_WIDTH"
				description="COM_REDDESIGN_CONFIG_MAX_ACCESSORY_THUMBNAIL_WIDTH_DESC"
				/>

		<field
				name="max_accessory_thumbnail_height"
				type="text"
				size="5"
				default="50"
				label="COM_REDDESIGN_CONFIG_MAX_ACCESSORY_THUMBNAIL_HEIGHT"
				description="COM_REDDESIGN_CONFIG_MAX_ACCESSORY_THUMBNAIL_HEIGHT_DESC"
				/>

	</fieldset>

	<fieldset
			name="settings_backend"
			label="COM_REDDESIGN_CONFIG_SETTINGS_BACKEND"
			description="COM_REDDESIGN_CONFIG_SETTINGS_BACKEND_DESC"
			addfieldpath="administrator/components/com_reddesign/models/fields">

		<field
				name="font_preview_text"
				type="text"
				size="5"
				default="Lorem ipsum."
				label="COM_REDDESIGN_CONFIG_FONT_PREVIEW_TEXT"
				description="COM_REDDESIGN_CONFIG_FONT_PREVIEW_TEXT_DESC"
				/>

		<field
				name="unit"
				type="list"
				size="1"
				default=""
				label="COM_REDDESIGN_CONFIG_UNIT"
				description="COM_REDDESIGN_CONFIG_UNIT_DESC"
				>
			<option value="px">px</option>
			<option value="mm">mm</option>
			<option value="cm">cm</option>
		</field>

	</fieldset>

	<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC"
			>

		<field
				name="rules"
				type="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				class="inputbox"
				validate="rules"
				filter="rules"
				component="com_reddesign"
				section="component"
				/>

	</fieldset>

</config>