<?xml version="1.0" encoding="utf-8"?>
<config>

    <fieldset
            name="eps"
            label="COM_REDDESIGN_CONFIG_EPS_CONFIGURATION"
            description="COM_REDDESIGN_CONFIG_EPS_CONFIGURATION_DESC"
            >

        <field
                name="max_eps_file_size"
                type="text"
                size="5"
                default="2"
                label="COM_REDDESIGN_CONFIG_MAX_EPS_FILE_SIZE"
                description="COM_REDDESIGN_CONFIG_MAX_EPS_FILE_SIZE_DESC"
                />

        <field
                name="eps_bestfit"
                type="radio"
                default="1"
                label="COM_REDDESIGN_CONFIG_EPS_BESTFIT"
                description="COM_REDDESIGN_CONFIG_EPS_BESTFIT_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="max_eps_thumbnail_width"
                type="text"
                size="5"
                default="600"
                label="COM_REDDESIGN_CONFIG_MAX_EPS_THUMBNAIL_WIDTH"
                description="COM_REDDESIGN_CONFIG_MAX_EPS_THUMBNAIL_WIDTH_DESC"
                />

        <field
                name="max_eps_thumbnail_height"
                type="text"
                size="5"
                default="400"
                label="COM_REDDESIGN_CONFIG_MAX_EPS_THUMBNAIL_HEIGHT"
                description="COM_REDDESIGN_CONFIG_MAX_EPS_THUMBNAIL_HEIGHT_DESC"
                />

        <field
                name="max_designtype_images_size"
                type="text"
                size="5"
                default="2"
                label="COM_REDDESIGN_CONFIG_MAX_DESIGNTYPE_IMAGE_FILE_SIZE"
                description="COM_REDDESIGN_CONFIG_MAX_DESIGNTYPE_IMAGE_FILE_SIZE_DESC"
                />

        <field
                name="max_designtype_thumbnail_width"
                type="text"
                size="5"
                default="100"
                label="COM_REDDESIGN_CONFIG_MAX_DESIGNTYPE_THUMBNAIL_WIDTH"
                description="COM_REDDESIGN_CONFIG_MAX_DESIGNTYPE_THUMBNAIL_WIDTH_DESC"
                />

        <field
                name="max_designtype_thumbnail_height"
                type="text"
                size="5"
                default="100"
                label="COM_REDDESIGN_CONFIG_MAX_DESIGNTYPE_THUMBNAIL_HEIGHT"
                description="COM_REDDESIGN_CONFIG_MAX_DESIGNTYPE_THUMBNAIL_HEIGHT_DESC"
                />
	    <field
                name="max_background_thumbnail_width"
                type="text"
                size="5"
                default="50"
                label="COM_REDDESIGN_CONFIG_MAX_BACKGROUND_THUMBNAIL_WIDTH"
                description="COM_REDDESIGN_CONFIG_MAX_BACKGROUND_THUMBNAIL_WIDTH_DESC"
                />

        <field
                name="max_background_thumbnail_height"
                type="text"
                size="5"
                default="50"
                label="COM_REDDESIGN_CONFIG_MAX_BACKGROUND_THUMBNAIL_HEIGHT"
                description="COM_REDDESIGN_CONFIG_MAX_BACKGROUND_THUMBNAIL_HEIGHT_DESC"
                />

	</fieldset>
	<fieldset
			name="accessories"
			label="COM_REDDESIGN_CONFIG_ACCESSORIES_CONFIGURATION"
			description="COM_REDDESIGN_CONFIG_ACCESSORIES_CONFIGURATION_DESC"
			>
        <field
                name="max_accessorytype_images_size"
                type="text"
                size="5"
                default="2"
                label="COM_REDDESIGN_CONFIG_MAX_ACCESSORYTYPE_IMAGE_FILE_SIZE"
                description="COM_REDDESIGN_CONFIG_MAX_ACCESSORYTYPE_IMAGE_FILE_SIZE_DESC"
                />

        <field
                name="max_accessorytype_thumbnail_width"
                type="text"
                size="5"
                default="64"
                label="COM_REDDESIGN_CONFIG_MAX_ACCESSORYTYPE_THUMBNAIL_WIDTH"
                description="COM_REDDESIGN_CONFIG_MAX_ACCESSORYTYPE_THUMBNAIL_WIDTH_DESC"
                />

        <field
                name="max_accessorytype_thumbnail_height"
                type="text"
                size="5"
                default="64"
                label="COM_REDDESIGN_CONFIG_MAX_ACCESSORYTYPE_THUMBNAIL_HEIGHT"
                description="COM_REDDESIGN_CONFIG_MAX_ACCESSORYTYPE_THUMBNAIL_HEIGHT_DESC"
                />

        <field
                name="max_accessory_images_size"
                type="text"
                size="5"
                default="2"
                label="COM_REDDESIGN_CONFIG_MAX_ACCESSORY_IMAGE_FILE_SIZE"
                description="COM_REDDESIGN_CONFIG_MAX_ACCESSORY_IMAGE_FILE_SIZE_DESC"
                />

        <field
                name="max_accessory_thumbnail_width"
                type="text"
                size="5"
                default="50"
                label="COM_REDDESIGN_CONFIG_MAX_ACCESSORY_THUMBNAIL_WIDTH"
                description="COM_REDDESIGN_CONFIG_MAX_ACCESSORY_THUMBNAIL_WIDTH_DESC"
                />

        <field
                name="max_accessory_thumbnail_height"
                type="text"
                size="5"
                default="50"
                label="COM_REDDESIGN_CONFIG_MAX_ACCESSORY_THUMBNAIL_HEIGHT"
                description="COM_REDDESIGN_CONFIG_MAX_ACCESSORY_THUMBNAIL_HEIGHT_DESC"
                />
    </fieldset>
    <fieldset
            name="settings_frontend"
            label="COM_REDDESIGN_CONFIG_SETTINGS_FRONTEND"
            description="COM_REDDESIGN_CONFIG_SETTINGS_FRONTEND_DESC"
            >
        <field
                name="show_areaname"
                type="radio"
                size="5"
                default="0"
                label="COM_REDDESIGN_CONFIG_SHOW_AREA_NAME"
                description="COM_REDDESIGN_CONFIG_SHOW_AREA_NAME_DESC">

            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
                name="show_area_border"
                type="radio"
                size="5"
                default="0"
                label="COM_REDDESIGN_CONFIG_SHOW_AREA_BORDER_IN_FRONTEND"
                description="COM_REDDESIGN_CONFIG_SHOW_AREA_BORDER_IN_FRONTEND_DESC">

            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
    <fieldset
            name="settings_backend"
            label="COM_REDDESIGN_CONFIG_SETTINGS_BACKEND"
            description="COM_REDDESIGN_CONFIG_SETTINGS_BACKEND_DESC"
            addfieldpath="administrator/components/com_reddesign/models/fields">
        <field
                name="show_areaname_backend"
                type="radio"
                size="5"
                default="0"
                label="COM_REDDESIGN_CONFIG_SHOW_AREA_NAME_IN_BACKEND"
                description="COM_REDDESIGN_CONFIG_SHOW_AREA_NAME_IN_BACKEND_DESC">

            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
                name="show_area_border_backend"
                type="radio"
                size="5"
                default="0"
                label="COM_REDDESIGN_CONFIG_SHOW_AREA_BORDER_IN_BACKEND"
                description="COM_REDDESIGN_CONFIG_SHOW_AREA_BORDER_IN_BACKEND_DESC">

            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
                name="font_preview_text"
                type="text"
                size="5"
                default=""
                label="COM_REDDESIGN_CONFIG_FONT_PREVIEW_TEXT"
                description="COM_REDDESIGN_CONFIG_FONT_PREVIEW_TEXT_DESC"
                />
        <field
                name="unit"
                type="list"
                size="1"
                default=""
                label="COM_REDDESIGN_CONFIG_UNIT"
                description="COM_REDDESIGN_CONFIG_UNIT_DESC"
                >
            <option value="px">px</option>
            <option value="mm">mm</option>
            <option value="cm">cm</option>
        </field>
        <field
                name="enable_angle"
                type="radio"
                default="0"
                label="COM_REDDESIGN_CONFIG_ENABLE_ANGLE"
                description="COM_REDDESIGN_CONFIG_ENABLE_ANGLE_DESC">

            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
                name="design_font_size"
                type="fontsize"
                default="0"
                label="COM_REDDESIGN_CONFIG_DEFAULT_DESIGN_SIZE"
                description="COM_REDDESIGN_CONFIG_DEFAULT_DESIGN_SIZE_DESC"/>
        <field
                name="send_user_mail[]"
                type="userlist"
                default="0"
                size="6"
                label="COM_REDDESIGN_CONFIG_SEND_DESIGN_MAIL_TO"
                description="COM_REDDESIGN_CONFIG_SEND_DESIGN_MAIL_TO_DESC"/>
    </fieldset>
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
            >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                validate="rules"
                filter="rules"
                component="com_reddesign"
                section="component"
                />

    </fieldset>

</config>

