<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset
			name="general"
			label="COM_REDDESIGN_CONFIG_GENERAL_CONFIGURATION"
			description="COM_REDDESIGN_CONFIG_GENERAL_CONFIGURATION_DESC"
			>

		<field
			name="autoCustomize"
			type="radio"
			default="1"
			label="COM_REDDESIGN_CONFIG_AUTOCUSTOMIZE"
			description="COM_REDDESIGN_CONFIG_AUTOCUSTOMIZE_DESC">
			<option value="0">COM_REDDESIGN_CONFIG_USE_CUSTOMIZE_BUTTON</option>
			<option value="1">COM_REDDESIGN_CONFIG_USE_AUTOMATIC_CUSTOMIZATION</option>
			<option value="2">COM_REDDESIGN_CONFIG_USE_BOTH</option>
		</field>

		<field
				name="unit"
				type="list"
				size="1"
				default=""
				label="COM_REDDESIGN_CONFIG_UNIT"
				description="COM_REDDESIGN_CONFIG_UNIT_DESC"
				>
			<option value="px">px</option>
			<option value="mm">mm</option>
			<option value="cm">cm</option>
		</field>

		<field
			name="font_preview_text"
			type="text"
			size="10"
			default="Lorem ipsum."
			label="COM_REDDESIGN_CONFIG_FONT_PREVIEW_TEXT"
			description="COM_REDDESIGN_CONFIG_FONT_PREVIEW_TEXT_DESC"
			/>

	</fieldset>

	<fieldset
			name="images"
			label="COM_REDDESIGN_CONFIG_IMAGES_CONFIGURATION"
			description="COM_REDDESIGN_CONFIG_IMAGES_CONFIGURATION_DESC"
			>

		<field
				name="max_eps_file_size"
				type="text"
				size="5"
				default="2"
				label="COM_REDDESIGN_CONFIG_MAX_EPS_FILE_SIZE"
				description="COM_REDDESIGN_CONFIG_MAX_EPS_FILE_SIZE_DESC"
				/>

		<field
				name="eps_bestfit"
				type="radio"
				default="1"
				label="COM_REDDESIGN_CONFIG_EPS_BESTFIT"
				description="COM_REDDESIGN_CONFIG_EPS_BESTFIT_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
				name="max_eps_thumbnail_width"
				type="text"
				size="5"
				default="600"
				label="COM_REDDESIGN_CONFIG_MAX_EPS_THUMBNAIL_WIDTH"
				description="COM_REDDESIGN_CONFIG_MAX_EPS_THUMBNAIL_WIDTH_DESC"
				/>

		<field
				name="max_eps_thumbnail_height"
				type="text"
				size="5"
				default="400"
				label="COM_REDDESIGN_CONFIG_MAX_EPS_THUMBNAIL_HEIGHT"
				description="COM_REDDESIGN_CONFIG_MAX_EPS_THUMBNAIL_HEIGHT_DESC"
				/>

		<field
				name="max_background_thumbnail_width"
				type="text"
				size="5"
				default="50"
				label="COM_REDDESIGN_CONFIG_MAX_BACKGROUND_THUMBNAIL_WIDTH"
				description="COM_REDDESIGN_CONFIG_MAX_BACKGROUND_THUMBNAIL_WIDTH_DESC"
				/>

		<field
				name="max_background_thumbnail_height"
				type="text"
				size="5"
				default="50"
				label="COM_REDDESIGN_CONFIG_MAX_BACKGROUND_THUMBNAIL_HEIGHT"
				description="COM_REDDESIGN_CONFIG_MAX_BACKGROUND_THUMBNAIL_HEIGHT_DESC"
				/>

	</fieldset>

	<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC"
			>

		<field
				name="rules"
				type="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				class="inputbox"
				validate="rules"
				filter="rules"
				component="com_reddesign"
				section="component"
				/>

	</fieldset>

</config>