<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset name="general"
			  label="COM_REDDESIGN_CONFIG_GENERAL_CONFIGURATION"
			  description="COM_REDDESIGN_CONFIG_GENERAL_CONFIGURATION_DESC"
	>
		<field name="autoCustomize"
			   type="list"
			   default="1"
			   class="chosen"
			   label="COM_REDDESIGN_CONFIG_AUTOCUSTOMIZE"
			   description="COM_REDDESIGN_CONFIG_AUTOCUSTOMIZE_DESC"
		>
			<option value="0">COM_REDDESIGN_CONFIG_USE_CUSTOMIZE_BUTTON</option>
			<option value="1">COM_REDDESIGN_CONFIG_USE_AUTOMATIC_CUSTOMIZATION</option>
			<option value="2">COM_REDDESIGN_CONFIG_USE_BOTH</option>
		</field>

		<field name="unit"
			   type="list"
			   size="1"
			   default="px"
			   label="COM_REDDESIGN_CONFIG_UNIT"
			   description="COM_REDDESIGN_CONFIG_UNIT_DESC"
		>
			<option value="px">COM_REDDESIGN_CONFIG_UNIT_PIXEL_LABEL</option>
			<option value="mm">COM_REDDESIGN_CONFIG_UNIT_MILLIMETER_LABEL</option>
			<option value="cm">COM_REDDESIGN_CONFIG_UNIT_CENTIMETER_LABEL</option>
		</field>

        <field name="fontUnit"
               type="list"
               size="1"
               default="px"
               label="COM_REDDESIGN_CONFIG_FONT_UNIT_LABEL"
               description="COM_REDDESIGN_CONFIG_FONT_UNIT_LABEL_DESC"
                >
            <option value="%">COM_REDDESIGN_CONFIG_UNIT_PERCENTAGE_LABEL</option>
            <option value="in">COM_REDDESIGN_CONFIG_UNIT_INCH_LABEL</option>
            <option value="cm">COM_REDDESIGN_CONFIG_UNIT_CENTIMETER_LABEL</option>
            <option value="mm">COM_REDDESIGN_CONFIG_UNIT_MILLIMETER_LABEL</option>
            <option value="em">COM_REDDESIGN_CONFIG_UNIT_EMS_LABEL</option>
            <option value="pt">COM_REDDESIGN_CONFIG_UNIT_POINT_LABEL</option>
            <option value="pc">COM_REDDESIGN_CONFIG_UNIT_PICA_LABEL</option>
            <option value="px">COM_REDDESIGN_CONFIG_UNIT_PIXEL_LABEL</option>
        </field>

		<field name="source_dpi"
			   id="source_dpi"
			   type="text"
			   label="COM_REDDESIGN_CONFIG_SOURCE_DPI"
			   description="COM_REDDESIGN_CONFIG_SOURCE_DPI_DESC"
			   maxlength="7"
			   default="72"
			/>

		<field name="font_preview_text"
			   type="text"
			   size="10"
			   default="Lorem ipsum."
			   label="COM_REDDESIGN_CONFIG_FONT_PREVIEW_TEXT"
			   description="COM_REDDESIGN_CONFIG_FONT_PREVIEW_TEXT_DESC"
		/>
	</fieldset>

	<fieldset name="images"
			  label="COM_REDDESIGN_CONFIG_IMAGES_CONFIGURATION"
			  description="COM_REDDESIGN_CONFIG_IMAGES_CONFIGURATION_DESC"
	>
		<field name="max_svg_file_size"
			   type="text"
			   size="5"
			   default="2"
			   label="COM_REDDESIGN_CONFIG_MAX_SVG_FILE_SIZE"
			   description="COM_REDDESIGN_CONFIG_MAX_SVG_FILE_SIZE_DESC"
		/>

		<field name="max_svg_backend_bg_width"
			   type="text"
			   size="5"
			   default="600"
			   label="COM_REDDESIGN_CONFIG_MAX_SVG_BACKEND_PREVIEW_WIDTH"
			   description="COM_REDDESIGN_CONFIG_MAX_SVG_BACKEND_PREVIEW_WIDTH_DESC"
		/>

		<field name="max_svg_frontend_bg_width"
			   type="text"
			   size="5"
			   default="600"
			   label="COM_REDDESIGN_CONFIG_MAX_SVG_FRONTEND_PREVIEW_WIDTH"
			   description="COM_REDDESIGN_CONFIG_MAX_SVG_FRONTEND_PREVIEW_WIDTH_DESC"
		/>

		<field name="productionFilePadding"
			   type="text"
			   size="5"
			   default="10"
			   label="COM_REDDESIGN_CONFIG_PRODUCTION_FILE_PADDING"
			   description="COM_REDDESIGN_CONFIG_PRODUCTION_FILE_PADDING_DESC"
		/>
	</fieldset>

	<fieldset name="permissions"
			  label="JCONFIG_PERMISSIONS_LABEL"
			  description="JCONFIG_PERMISSIONS_DESC"
	>
		<field name="rules"
			   type="rules"
			   label="JCONFIG_PERMISSIONS_LABEL"
			   class="inputbox"
			   validate="rules"
			   filter="rules"
			   component="com_reddesign"
			   section="component"
		/>
	</fieldset>
</form>